/src/.phpunit.cache
/src/node_modules
/src/vendor
/src/.env
/src/.env.backup
/src/.env.production
/src/.phpunit.result.cache
Homestead.json
Homestead.yaml
/.idea
/.vscode

/src/.env.local
/src/.env.local.php
/src/.env.*.local
/src/config/secrets/prod/prod.decrypt.private.php
/src/public/bundles/
/src/var/
